*{
    cursor: url(Cursor/small1-h.png), default;
}

a {
    cursor: pointer;
}

.cursor-active {
    cursor: pointer;
}

.button {
    cursor: pointer;
}

.mainMenu li {
    		display: inline-block;
    		vertical-align: top;
    		}
       	.pad {
       		margin-right: 800px;
    		text-align: right;
    	}
    	.pad2 {
    		margin-left: 160px;
    		margin-top: -115px;
    		font-size: 36px;
    	}
    	.fpad {
    	}
    	.img-marg {
    		padding-top: 50px;
    		margin-left: 10px;
    		height: 190px;
    	}
.footT {
	background-color: black;
	color: white;
}
.mrq {
	color: green;
}
.footer {
	background-color: #343a40;
	color: white;
}

.cd {
    color: white;

}

.cd:hover {
    color: white
}

.rights {
	font-size: 14px;
}
.int-foot {
    display: inline-block;
	margin-bottom: 20px;
}
.btm {
	margin-right: 40px;
}
.card1 {
	margin-left: 70px;
	margin-top: 40px;
	display: inline-block;
}
.p404 { /*Це для сторінки 404.html */
	font-size: 90px;
}
.e404{
	cursor: default;
}