.mainMenu li {
    		display: inline-block;
    		vertical-align: top;
    		}
       	.pad {
       		margin-right: 800px;
    		text-align: right;
    	}
    	.pad2 {
    		margin-left: 150px;
    		margin-top: 60px;
    	}
    	.fpad {
    		margin-top: 700px;
    	}
    	.footer {

    	}
    	.img-marg {
    		padding-top: 50px;
    	}
.footT {
	background-color: black;
	color: white;
}
.mrq {
	color: green;
}
.footer {
	background-color: #2e2e2e;
	color: white;
}
.rights {
	margin-left: 25px;
	font-size: 14px;
}