.mainMenu li {
    		display: inline-block;
    		vertical-align: top;
    		}
       	.pad {
       		margin-right: 800px;
    		text-align: right;
    	}
    	.pad2 {
    		margin-left: 160px;
    		margin-top: -115px;
    		font-size: 36px;
    	}
    	.fpad {
    		margin-top: 700px;
    	}
    	.footer {

    	}
    	.img-marg {
    		padding-top: 50px;
    		margin-left: 10px;
    		height: 190px;
    	}
.footT {
	background-color: black;
	color: white;
}
.mrq {
	color: green;
}
.footer {
	background-color: #343a40;
	color: white;
}
.rights {
	margin-left: 25px;
	font-size: 14px;
}
.int-foot {
	margin-left: 20px;
}
.btm {
	margin-right: 40px;
}
.card {
	margin-left: 60px;
	margin-top: 40px;
	display: inline-block;
}