.accordion{
	margin-left: 300px;
	margin-top: -350px;
}
.footer1{
	margin-top: 400px;
}
.accordion img{
	width: 600px;
	height: 400px;
}
.upfooter{
	background-color: #343a40;
	color: white;
	margin-top: 400px;
	font-size: 24px;
}