.greeting {
	background-color: white;
	border: 1px outset black;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.text {
	background-color: #343a40;
	color: white;
}

.title {
	margin-top: 20px;
	font-size: 24px;
}