.greeting {
	background-color: white;
	border: 1px outset black;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.title {
	margin-top: 20px;
	font-size: 24px;
	background-color: #343a40;
	color: white;
}
.dtitle {
	text-align: center;
	padding-top: 20px;
}
.dtitle1 {
	text-align: center;
	margin-top: 20px;
}
.dblock {
	background-color: white;
}
.bblock1 {
	width: 400px;
	border: 2px double black;
	text-align: center;
	font-size: 20px;
}
.bimg {
	border: 1px outset black;
}
.bblock {
	margin-left: -10%;
}
.ending {
	background-color: #343a40;
}
